*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    font-family: "Segoe UI";
}

.card {
    border: radius 20px; 
    height: fit-content;
}




.titulo-carta {
    align-items: end;
}

.pagesPrincipal {
    background-color: transparent;
    display: flex;
    justify-content: space-around;

}

.location-listing{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em
}

.location-image img {
    width: 90%;
    height: auto;
    filter: blur(0px);
    transition: filter 0.3s ease-in;
}

.container {
    margin: -5px;
    justify-items: center;
    width: 100%;
    height: auto;
}
.container div {
    display: flex;
    margin: 5px;
    justify-content: space-between
}

.titulo-noticias{
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 5%;
    font-size: xx-large;
}

.tokio-uni img{
    max-width: 650px;
    max-height: auto;
    height: auto;
    width: auto;
}
.universal-hp img{
    max-width: 650px;
    max-height: auto;
    height: auto;
    width: auto;

}

.todo-formu {
    display: flex   ;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main form {
    display: flex;
    justify-content: flex-end;
    padding: 2%;
}

main section form {
    justify-content: center;
}

.mainFormu {
    background-color: rgba(255, 255, 255, 0.815);
    opacity: 0,4;
    border-color: transparent;
    border-radius: 10%;
    padding: 3%;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    gap: 25px;
}

.end-formu {
    background-color: rgba(255, 255, 255, 0.815);

}

main div p{
    justify-content: center;
    font-size: larger;
    font-style: bold;
}

.mainFormu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mainFormu div {
    justify-content: center;
    text-align: center;
}

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
}

main section a {
    text-decoration: none;
    color: black;
}

main section article {
    text-align: center;
}

.eraseLabel {
    list-style: none;
    justify-items: center;
    background-color: rgba(255, 255, 255, 0.815);
    opacity: 0,4;
    border-color: transparent;
    border-radius: 10%;
    padding: 4%;
    width: fit-content;
    height: fit-content;
    gap: 40px;
}

.eraseLabel p {
    padding: 3%;
}

.resuFront {
    letter-spacing: 3px;
    line-height: 1;
}

.latest-news {
    display: flex;
    justify-content: space-between;
    text-justify: newspaper;
}

@media(max-width: 100%) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}





